@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

header {
  background-color: black;
  height: 4rem;
  color: beige;
}

ul {
  display: flex;
  font-size: 1.7rem;
  justify-content: center;
  align-items: center;
  font-family: 'Sevillana', cursive;
  height: 100%;
  gap: 30px;
  text-decoration: none;
  list-style: none;
}

li :last-child {
  text-decoration: none;
  color: beige;
}

footer {
  left: 0;
  bottom: 0;
  width: 90%;
  color: rgb(255, 254, 254);
  background-color: black;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 5%;
  font-size: 1.7rem;
  border-top: solid 2px black;
  padding: 5px;
  border-bottom: solid 2px black;
  border-radius: 6px;
}
.list-items{
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    justify-items: center;
}
.lists{
    border: 3px solid black;
    margin-top: 2rem;
    height: 17rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2{
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
}
.second{
    
}
.last{
   display: flex;
   flex-direction: column;
   gap: 1rem;
}
