@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

header {
  background-color: rgb(40, 123, 218);
  height: 4rem;
  color: rgb(250, 250, 248);
}

ul {
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  gap: 30px;
  text-decoration: none;
  list-style: none;
}

li :last-child {
  text-decoration: none;
  color: beige;
}

footer {
  left: 0;
  bottom: 0;
  width: 90%;
  color: rgb(255, 254, 254);
  background-color: rgb(40, 123, 218);
  text-align: center;
  margin-bottom: 20px;
  margin-left: 5%;
  font-size: 1.7rem;
  border-top: solid 2px rgb(81, 122, 235);
  padding: 5px;
  border-bottom: solid 2px rgb(85, 87, 236);
  border-radius: 6px;
}

.list-items {
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  justify-items: center;
}

/* .lists{
    border: 3px solid black;
    margin-top: 2rem;
    height: 17rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2{
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
} */

.poke-card {
  border: 5px solid rgb(65, 166, 206);
  height: 23rem;
  width: 23rem;
  margin-top: 2rem;
}

.Poke-img {
  height: 10rem;
  width: 11rem;
  margin-left: 2rem;
}

.pokemonInfos {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(4, 49, 109);
  margin-left: 2rem;
}

.heart {
  height: 2rem;
  width: 2rem;
  margin-top: 1.8rem;
  color: rgb(62, 123, 141);
  transition: color 1s ease;
}

.heart:hover {
  color: rgb(231, 15, 15);
}

.comment-section {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

p {
  font-size: 1rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 2rem;
}

.comment {
  width: 5rem;
  height: 1.7rem;
  text-align: center;
  background-color: rgb(31, 116, 228);
  color: rgb(252, 252, 252);
  border: 1px solid rgb(13, 73, 151);
  transition: 2s ease color;
}

.comment:hover {
  background-color: rgb(240, 52, 52);
  border: brown;
}

.reservation {
  width: 5.3rem;
  height: 1.7rem;
  text-align: center;
  background-color: rgb(31, 116, 228);
  color: rgb(252, 252, 252);
  border: 1px solid rgb(13, 73, 151);
  transition: 2s ease color;
}

.reservation:hover {
  background-color: rgb(240, 52, 52);
  border: brown;
}

.resposition {
  background-color: #ddddc7e6;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}

.styleres {
  background: bisque;
  width: 87%;
  height: 100vh;
  overflow-y: scroll;
  position: absolute;
  left: 5rem;
}

label {
  color: #0f5a5aa3;
  font-size: x-large;
  margin: 11px 0;
}

.close {
  width: 4rem;
  display: flex;
  align-self: end;
}

form {
  display: flex;
  flex-direction: column;
}

.name,
.sdate,
.edate {
  width: 15rem;
  height: 1.7rem;
  font-size: 1.2rem;
}

.rsubmit {
  width: 9rem;
  margin-top: 12px;
  font-size: 1.4rem;
  background-color: #b0c4de8a;
}

.time {
  list-style: none;
  width: 73%;
  height: 15rem;
  gap: 12px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.time li p {
  font-size: 1.4rem;
}

.display-time {
  color: #485d5b;
  width: 100%;
}

.display-time h2 {
  display: flex;
  justify-content: center;
  font-size: 2.8rem;
  font-weight: 700;
}

.Pokidisplay img {
  width: 100%;
}

.data {
  display: flex;
  gap: 4rem;
  width: 100%;
  justify-content: center;
}

.Pokidisplay h3 {
  color: #485d5b;
  font-size: 1.6rem;
}

.Pokidisplay h3 span {
  font-weight: 900;
  font-size: 2rem;
  margin-right: 18px;
}

.resevationhide {
  display: none;
}

.passdatainvo {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 3rem;
}
