@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

header {
  background-color: black;
  height: 4rem;
  color: beige;
}

ul {
  display: flex;
  font-size: 1.7rem;
  justify-content: center;
  align-items: center;
  font-family: 'Sevillana', cursive;
  height: 100%;
  gap: 30px;
  text-decoration: none;
  list-style: none;
}

li :last-child {
  text-decoration: none;
  color: beige;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 90%;
  color: black;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 5%;
  font-size: 1.7rem;
  border-top: solid 2px black;
  padding: 5px;
  border-bottom: solid 2px black;
  border-radius: 6px;
}
